@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@600;700&display=swap');
@import "tailwindcss";

:root {
    --color-primary: #23224e;
    --color-secondary: #6c63ff;
    --font-heading: 'Intel', sans-serif;
    --font-body: 'Poppins', sans-serif;
}
body {
    font-family: var(--font-body);
    background: #f8f9fa;
    color: #1c1c1c;
}